.Login{
  width: 25rem;
  padding:20px 0 20px 0;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.login-heading {
  font-size: 28px;
  font-weight: 200;
  color: rgb(80, 80, 80);
  display: flex;
  gap: 6px;
  font-family:"Varela Round";
  margin-bottom: 20px;
}

.logo-text {
  display: flex;
  align-items: center;
}

.inline-logo {
  height: 35px; /* Adjust this to match the text size */
  width: 130px;
  object-fit: contain;
  margin-top: 2px; /* Tweak for perfect baseline match */
}
