.BannerSection{
    height: 150px;
    width: 60%;
    margin:auto;
    margin-top: 10px;
}

.MovieListSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 20px; 
    padding: 15px;
    margin: 20px 80px;
    background: linear-gradient(45deg,#f2f2f2, #ffffff);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    overflow-y: auto; 
    overflow-x: hidden;
}

@media screen and (max-width: 800px) {
    .BannerSection {
        width: 90%;          /* Take most of the screen width */
        height: 120px;       /* Slightly smaller banner */
        margin-top: 70px;
    }

    .MovieListSection {
        flex-direction: row;   /* Stack movies vertically */
        margin: 10px 20px;        /* Reduce side margins */
        gap: 15px;                /* Reduce gap between movie cards */
        padding: 10px;            /* Reduce padding */
        overflow-x: auto;         /* Allow horizontal scroll if needed */
    }
}